/* menu style */
.menu{
  background-color: #390400;
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  padding-bottom: 20px;
}

/* menu items style */
.menuitem{
  flex-direction: column;
  margin-top: 10px;
  height: fit-content;
}

/* pipe between menu item style */
.pipe{
  color: white;
}

/* link in menu item style */
a{
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  text-decoration: none;
  font-weight: bolder;
  margin: 0 0.5rem;
  display: inline-flex;
  flex-direction: column-reverse;
}

a:hover{
  background-color:rgb(255, 155, 41) ;
  border-radius: 5px;
}

/* adds bottom of the menu item style */
.adds{
  background-color: gray;
  font-weight:bolder;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: blue;
  padding-top: 5px;
  height: 120px;
}

/* background-color: rgb(254, 191, 65); */


.market-price-main-div{
  background-color: rgb(255, 155, 41) ;
}

.div-inside-market-pirce{
  float: left;
  width: 60%;
}

.market-price-text{
  background-color: rgb(254, 191, 65);
  margin-left: 20px;
  margin-top: 20px;
  margin-right: auto;
  width: 90%;
  border-radius: 50px;
}

.market-price-heading{
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  align-items: center;
}

.clipart-div{
  background-color: white;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.clipartDivButton1{
  background-color: #390400;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 60%;
  margin-top: 20px;
  margin-left: 10%;
}

.clipartDivButton2{
  background-color: #390400;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 60%;
  margin-top: 30px;
  margin-left: 20px;
}

.clipartDivButton3{
  background-color: #390400;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 60%;
  margin-top: 10px;
  margin-left: 20px;
}


.text-in-article-div{
  align-items: center;
  justify-content: center;
}

.heading-style{
  padding-top: 50px;
  color: #390400;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
}

.empty-div-style{
  background-color: #390400;
  height: 2px;
  margin-left: 6%;
  margin-right: 3%;
}

.paragraph-style{
  margin-left: 6%;
  font-size: larger;
}

.another-heading-style{
  color: #390400;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-left: 6%;
}

.another-paragraph-style{
  margin-left: 6%;
  font-size: larger;
}


.live-video-div{
  background-color: lightgray;
  height: 900px;
  overflow: scroll;
  overflow-x: hidden;
}


.text-div{
  position: relative;
  background-color: crimson;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 70%;
}

.text-inside{
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  width: fit-content;
}

.empty-div{
  margin-top: 50px;
  background-color: #390400;
  height: 2px;
}

.static-chart{
  background-color: rgb(255, 155, 41);
  height: 600px;
}


.common-textStyle{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}


.tipofTheDayHeading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-top: 20px;
}

.doctorsConcernHeading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-top: 20px;
}

.subscribeButtonDiv{
  background-color: #390400;
  height: 250px;
  display: flex;
  padding-top: 25px;
  justify-content: center;
}

.textStyleInBecomeAMember{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: xx-large;
}

.subscribeButton{
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  margin-top: 10px;
  border-radius: 20px;
  width: 30%;
  height: 70px;
  margin-left: 35%;
}

.buttonStyling1{
  font-size: larger;
  border-radius: 20px;
  width: 200px;
  height: 50px;
}

.validationFormMainDiv{
  background-color: rgb(255, 155, 41);
  padding-top: 150px;
  padding-bottom: 150px;
}

.formDiv{
  background-color: rgb(254, 191, 65);
  height: 1100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.buttonStyling2{
  background-color: #390400;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  border-radius: 20px;
  width: 60%;
  height: 80px;
  margin-left: 20%;
}

/* menu style */
.footerMenu{
  background-color: #390400;
  display: flex;
  padding-left: 15%;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

/* menu items style */
.footerMenuItem{
  flex-direction: column;
  height: fit-content;
}

/* pipe between menu item style */
.pipe{
  color: white;
}

.copyrightDiv{
  background-color: darkslategray;
  height:90px;
  justify-content: center;
  width: 40%;
}

.CopyrightStyle{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
  text-align: center;
  padding-top: 20px;
}